@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary-color: #1362c3;
  --secondary-color: #405874;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--secondary-color);
  font-size: 1.8rem;
  line-height: 1.4;
}

h1,
h2,
h3 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

h1 {
  font-size: 4.3rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.8rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  .container {
    max-width: 1140px;
    margin: auto;
  }
}

/* ------- Profile Image ------- */

.img-wrapper {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.img-wrapper::after {
  content: "";
  background-color: rgb(112, 204, 226);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  animation: shockwave 2s infinite;
}

.img-wrapper > .image {
  width: calc(250px - 25px);
  height: calc(250px - 25px);
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  z-index: 99;
}

/* Shockwave animation */
@keyframes shockwave {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0.25;
  }
}

/* ------- Lists ------- */

.list {
  list-style-type: none;
  padding-left: 0;
}

.list__item {
  position: relative;
  margin-bottom: 1.3rem;
}

.list-shape .list__item {
  padding-left: 38px;
}

.list-shape .list__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}

.list-shape--computer .list__item::before {
  background-image: url("../assets/icon-computer.png");
}

@media screen and (min-width: 1024px) {
  .list-shape .list__item {
    padding-left: 33px;
  }

  .list-shape .list__item::before {
    width: 20px;
    height: 20px;
  }
}

/* ------- Grids ------- */
.grid-container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(4, auto);
  align-items: center;
  overflow: hidden;
  column-gap: 60px;
  row-gap: 5px;
}

.grid-container h2,
h3 {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .grid-cell.title {
    grid-column: 1 /3;
  }

  .grid-cell.duration {
    /* grid-column: 1; */
    grid-row: 3;
  }
}

@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(2, auto);
  }

  .grid-container h2,
  h3 {
    margin: 0;
  }
}

/*  */

.curve-container {
  min-height: calc(100vh + 175px);
  background-color: black;
  color: white;
  position: relative;
  margin-bottom: 1000px;
}

.custom-shape-divider-bottom-1730283645 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  position: absolute;
  bottom: 0;
}

.custom-shape-divider-bottom-1730283645 .shape-fill {
  fill: #ffffff;
}

/* 


*/

/* ------ Hero ------- */

.hero {
  min-height: calc(100vh + 250px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  overflow: hidden;
}

.hero h1 {
  color: #2e846a;
  margin-bottom: 2.5rem;
  text-align: center;
}

.hero .keywords {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
}

@media screen and (min-width: 425px) {
  .hero p {
    text-align: justify;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    min-height: 100vh;
    max-width: 950px;
    margin: 0 auto;
    justify-content: center;
  }
}
